# Gradle
.gradle/
build/

# IntelliJ
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.classpath
.project
.settings/
bin/

# VS Code
.vscode/

# Git
.git/
.gitattributes
.gitignore

# Logs
*.log

# Local application files
.codeshare/
.DS_Store