HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

# First, create a .gitignore file
echo "target/
build/
.gradle/
.idea/
*.iml
*.class
node_modules/
out/
bin/
.settings/
.vscode/
.DS_Store" > .gitignore



# .gitignore file
.git/
.codeshare/
target/
build/
.gradle/
bin/
node_modules/
.idea/
.vscode/
*.class
*.jar
*.war
*.log